body {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100vh;
  /* background-color: hsl(216, 12%, 8%); */
}
.App {
  border: 1px solid #2d2d2d;
  background-color: hsl(213, 19%, 18%);
}
.rating-container {
  padding: 20px;
}
